.toast-message-container {
    position: fixed;
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 60px;
    background: rgb(32, 26, 214);
    background: linear-gradient(42deg, rgba(32, 26, 214, 1) 0%, rgba(26, 0, 130, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.466);
    transition: all ease 0.7s;
}

.toast-message-container.visible {
    bottom: 7%;
}


.toast-message-container .message {
    color: rgb(252, 252, 252);
    font-weight: 400;

}