.App {
  text-align: center;
  color: white;
  min-height: 100vh;

  background: rgb(13, 8, 111);
  background: linear-gradient(188deg, rgba(13, 8, 111, 1) 24%, rgba(52, 74, 213, 1) 88%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.App-Header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 3% 0;
}

.App-Header .logo-container {
  width: 50%;
}

.title {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 5%;
}

.App-Footer {
  background-color: rgba(0, 0, 0, 0.199);
  width: 100%;
  padding: 1% 0;
  font-weight: 400;
  font-size: 14px;
  margin-top: 2%;
  color: rgba(255, 255, 255, 0.87);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.App-Footer .logo-container {
  width: 25px;
}

.App-Content {
  flex-grow: 1;
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.151);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(14, 2, 82, 0.295);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f7f5f556;
}